#after restructure
app/static/bower_components

# vi
*.swp

#from yeoman
node_modules
dist
.tmp
.sass-cache
app/bower_components

#from initial .gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

#ide stuff
.idea
