<div menubar></div>
<div class="app-content">
  <p authentication-error></p>
  <p class="lead">Hi, {{name}}!</p>
  <p class="muted">{{headline}}</p>
  <form class="form-horizontal">
    <label>Search for people:</label>
    <input type="text" class="form-control" ng-model="search" class="input-medium search-query" placeholder="First name">
    <button class="btn btn-primary" ng-click="doSearch()">Search</button>
  </form>

  <div class="connections">
    <div class="connection" ng-repeat="connection in searchResults">
      <p ng-if="!connection.publicProfileUrl" class="name lead">{{connection.firstName}} {{connection.lastName}}</p>
      <a ng-if="connection.publicProfileUrl" class="name lead" href="{{connection.publicProfileUrl}}">
        {{connection.firstName}} {{connection.lastName}}
      </a>
      <p class="headline small">{{connection.headline}}</p>
      <p >
        <img ng-if="connection.pictureUrl" ng-src="{{connection.pictureUrl}}" class="picture img-thumbnail"></img>
        <img ng-if="!connection.pictureUrl" ng-src="/images/person.png" class="picture img-thumbnail"></img>
      </p>
      <a ng-show="!connection.isConnected" class="profile" href="" ng-click="doConnect(connection)">Connect</a>
    </div>
  </div>
</div>

