<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand">TAI - LinkedIn</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active:isActive('/user')}"><a href="" ng-click="menuClick('/user')">User panel</a></li>
        <li ng-class="{active:isActive('/admin')}"><a href="" ng-click="menuClick('/admin')">Admin panel</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="menuClick('/oauth')">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

