<div class="col-md-8 col-md-offset-2 app-content">
  <p authentication-error></p>
  <a href="" ng-click="location.path('/admin')">Admin</a>
  <p class="lead">Hi, {{name}}!</p>
  <p class="muted">{{headline}}</p>
  <div class="connection" ng-repeat="connection in connections">
    <p class="name">{{connection.firstName}} {{connection.lastName}}</p>
    <p class="headline">{{connection.headline}}</p>
    <p >
      <img ng-if="connection.pictureUrl" ng-src="{{connection.pictureUrl}}" class="picture"></img>
      <img ng-if="!connection.pictureUrl" ng-src="/images/person.png" class="picture"></img>
    </p>
    <a class="profile" href="{{connection.siteStandardProfileRequest.url}}">Profile</a>
  </div>
</div>

