body {
  background: #fafafa;
  color: #333;
}

.connections {
  column-count: auto;
  column-width: 200px;
}

.connection {
  margin-bottom: 1em;
  background: white;
  padding: 1em;
  text-align: center;
  break-inside: avoid;
  width: 100%;
  display: inline-block;
}

.picture {
  display: block;
  margin: 0 auto;
}

.name {
  margin-bottom: 5px;
}

.single-form, .app-content {
  margin-top: 55px;
  background-color: #eee;
  border-radius: 6px;
  padding: 30px;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

